@use "../globals/index" as *;
@use "../parts/common" as *;


#container{
    transition:  transform 0.5s, box-shadow 0.5s;
    background: $cWhite;
    position: relative;
    z-index: 10;
}

#main-content{
    position: relative;
    z-index: 0;
}

main{
    position: relative;
    z-index: -1;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $navHeight;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;

    &.triggered{
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
    }

    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @extend .content-width;
    }
    &__nav{
        @extend .flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        display: none;//スマホ時は表示しない

        @include mq(lg){
            display: block;//デスクトップ時表示される
        }
    }
    &__ul{
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
    }
    &__li{
        margin: 10px;

        @include mq(md){
            margin-left: 30px;
            margin-right: 0;
        }
        & > a{
            color: $cBlack;
            text-decoration: none;
            text-transform: uppercase;//大文字になる
        }
    }
    & .logo{
        justify-content: center;//スマホ時のlogoの位置
        font-size: 35px;

        @include mq(md){//ipadのlogoの位置
            justify-content: flex-start;
        }
    }
}

.hero{
    @extend .pb-lg;
}

.travel{
    @extend .content-width;
    @extend .mb-lg;

    &__inner{
        position: relative;
        z-index: 0;//影が被さるため
        @extend .flex;
        justify-content: space-between;//__imgと__textsを左右に寄せる
        background: $cBgGray;//背景色
        padding: 15px;
        @include mq(md){
            padding: 50px;
        }
        @include mq(xl){
            padding: 50px 150px;
        }  
    }
    &__img{
        height: 300px;//スマホサイズの高さ
        @extend .mb-sm;
        transition: box-shadow 0.5s ease 1.6s;//1.6秒待って影をつける

        &.inview{
            box-shadow: inset 0 0 30px $cBlack;//内側に影
        }

        @include mq(md){
            flex-basis: 47%;
        }
        @include mq(lg){
            height: 400px;
        }
        & > img{
            position: relative;
            z-index: -1;//L10を書くことでinner内で背面にくる
            opacity: 1;
            object-fit: cover;//サイズが__imgのサイズにフィット
            width: 100%;
            height: 100%;
        }  
    }
    &__texts{
        @extend .pb-sm;
        @include mq(md){
            display: flex;
            align-items: flex-end;//下に寄せる
            flex-basis: 47%;
        }   
        &.inview{//棒線のアニメーション
            & .travel__title{
                &::before{
                    @include animation($name: scaleX, $duration: 0.3s, $delay: 1.5s)
                }
            }
        }
    }
    &__title{//棒線をつける
        position: relative;
        &::before{
            display: none;//スマホ時は見えないようにする
            position: absolute;
            content: '';
            height: 1px;
            width: 100px;
            top: 50%;
            left: -120px;
            background: $cBlack;
            transform: scaleX(0);
            transform-origin: right;//右側を基点

            @include mq(lg){
                display: block;//表示される
            }
        }
    }
    &__description{
        @include mq(lg){
            margin-bottom: 40px;
        }
    }
}

@keyframes scaleX{
    0%{
        transform: scaleX(0)
    }
    100%{
        transform: scaleX(1)
    }
}

.houses{
    @extend .content-width;//左右の余白(最大の横幅1070px)
    @extend .mb-lg;//下の余白

    &__inner{
        @extend .flex;
    }
    &__title{
        @extend .mb-sm;//余白
        @extend .font-lr;//画面幅に応じてフォントサイズが変わる
    }
    &__item{
        @include mq(md){
            flex-basis: 50%;//横幅を決める
        }
        @include mq(lg){
            margin-bottom: 60px;//余白が追加
        }
    }
    &__btn{
        text-align: center;
        flex-basis: 100%;
    }
}

.popular{
    &__header{
        @extend .content-width;
    }
    &__inner{
        position: relative;

        &::before{//薄い背景
            content: "";
            position: absolute;
            bottom: 0;//下を基点とし高さ90%
            left: 0;
            height: 90%;
            width: 100%;
            background-color: $cBgGray;
        }
    }
    &__container{
        position: relative;//z-indexを指定するときpositoをstatic以外にする
        @extend .flex;
        @extend .content-width;
        justify-content: space-between;//左右に余白
        z-index: 2;
    }
    &__item{
        @include mq(md){
            flex-basis: 47%;
        }
        @include mq(lg){
            flex-basis: 25%;
        }
        @include mq(xl){
            flex-basis: 23%;
        }
    }
    &__title{
        @extend .mb-sm;
        @extend .font-md;
    }
    &__img{
        height: 150px;
        margin-bottom: 5px;
        @include mq(lg){
            height: 335px;
        }

        & > img{
            width: 100%;    
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    &__btn{
        text-align: center;
        flex-basis: 100%;
        @extend .mb-lg;
    }
}

.footer{
    padding: 60px 0;
    @extend .content-width;//左右を揃える

    &__nav{
        @extend .flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    &__ul{
        @extend .flex;
        list-style: none;
        padding: 0;
    }
    &__li{
        margin: 10px;

        @include mq(md){
            margin-left: 0;
            margin-right: 30px;
        }
        & > a{
            color: $cSubTitle;
            text-decoration: none;
        }
    }
    & > .logo{
        font-size: 38px;
        justify-content: center;//スマホ時のlogoの位置

        @include mq(md){//ipadのlogoの位置
            justify-content: flex-start;
        }
    }
}

//logoは使い回せるようにしておく
.logo{
    font-size: 42px;
    display: flex;//左右に並べる

    &__img{
        width: 0.7em;//1em=元のフォントサイズ
    }
    &__world{
        color: $cWineRed;
    }
}

.side{
    display: none;//スマホのときは見せない
    position: fixed;
    top: 70%;
    transform: translateY(-50%);
    transition: all 0.3s ease;

    @include mq(xl){
        display: block;
    }

    & .tween-animate-title{
        color: $cBlack;
        text-decoration: none !important;//!importantをつけるとホバーしたときも下線がつかなくなる
        margin: 0 40px;
        vertical-align: middle;
        letter-spacing: 2px;
    }

    &.left{
        left: -50px;//画面外
        &.inview{
            left: 50px;
        }

        & .side__inner{
            transform-origin: top left;
            transform: rotate(-90deg);
        }
    }
    &.right{
        right: -50px;//画面外
        &.inview{
            right: 50px;
        }

        & .side__inner{
            transform-origin: top right;
            transform: rotate(90deg);
        }
    }
    .icon{
        position: relative;

        //絶対位置でアイコンを指定
        &::before{
            content: "";
            position: absolute;
            top: 50%;
            left: -20px;
            width: 1em;
            height: 1em;
            transform: translateY(-50%);
            background-position: center;
            background-repeat: none;//backgroundの表示を繰り返さない
            background-size: contain;//ちょん切れない
        }
        &.twitter::before{
            background-image: url(../images/twitter.svg);//.を２つつけると一階層上がる
        }
        &.fb::before{
            background-image: url(../images/facebook.svg);//.を２つつけると一階層上がる
        }
    }
}